body {
	font-family: arial;
	padding-left: 30px;
	padding-right: 30px;
}

.form-group {
	padding-top: 15px;
	padding-right: 30px;
	border-image-repeat: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}